{% extends 'base.html.twig' %}
{% block body %}
    <section class="login first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Inscription</h4>
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="_username" class="form-control"  />
                            </div>
                            <div class="form-group">
                                <label for="password" class="fw">Password
                                    <a href="#" class="pull-right">Forgot Password?</a>
                                </label>
                                <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                            <input type="hidden" name="_target_path" value="{{ path('accueil') }}" />
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <span class="text-muted">Don't have an account?</span> <a href="{{ 'register' }}">Create one</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Inscription</h4>
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.username, {'class': 'form-control'}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.plainPassword.first) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.plainPassword.second) }}
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-block">Register!</button>
                            </div>
                            {{ form_end(form) }}
                            <div class="form-group text-center">
                                <span class="text-muted">Already have an account?</span> <a href="{{ 'login' }}">Go to log</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
