<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/scripts/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/safari.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<div>
    {% block body %}{% endblock %}
    <header>
        <figure><img src="{{ asset('img/frites.png')}}" alt=""></figure>
        <h1>La Frite</h1>

        <div>
            <p><a href="{{ path('login') }}">Sign Up</a></p>
            <p><a href="{{ path('register') }}">Sign In</a></p>
        </div>

    </header>

    <section>

        <p>ICI LE BLOG</p>

    </section>





    <footer>

        <p>2018 - ©la Barquette</p>


    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
