{% extends 'base.html.twig' %}
{% block body %}
    <aside>
        <div class="aside-body">
            <div class="featured-author">
                <div class="featured-author-inner">
                    <div class="featured-author-cover" style="background-color:#EDEDED">
                        <div class="badges">
                            <div class="badge-item"><a href="{{ path('logout') }}">Log out</a></div>
                        </div>
                        <div class="featured-author-center">
                            <figure class="featured-author-picture">
                                <img src={{ asset('assets/img/fplambda.jpeg') }} alt="photoUser" />
                            </figure>
                            <div class="featured-author-info">
                                <h2 class="name">{{ app.user.username }}</h2>
                                <div class="desc"><div><b><i>{{ app.user.getstatut }}</i></b></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="featured-author-body">
                        <div class="featured-author-count">
                            <div class="item">
                                <a href="#">
                                    <div class="name">- Current debts -</div>
                                    <div class="value">{{ app.user.receivables|length + app.user.debts|length }}</div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="name">- Old debts -</div>
                                    <div class="value">3,729</div>
                                </a>
                            </div>
                        </div>
                        <div class="featured-author-quote">
                            "Eur costrict mobsa undivani krusvuw blos andugus pu aklosah"
                        </div>
                        <div class="featured-author-footer">
                            <a href="#">See All Authors</a>
                        </div>
                    </div>
                    <div class="featured-author-cover">
                        <div class="badges2">
                            <div class="badge-item2"><a href="{{ path('newdebt') }}">Create a new debt</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </aside>
{% endblock %}
